/* 

Built on Rock Hammer by Stuff and Nonsense
URL: http://stuffandnonsense.co.uk/projects/rock-hammer/ 

*/
/* 

Built on Rock Hammer by Stuff and Nonsense
URL: http://stuffandnonsense.co.uk/projects/rock-hammer/ 

*/
html, body, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

@-webkit-viewport {
  width: device-width; }

@-moz-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

html {
  background: white;
  font-size: 62.5%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #f6f5f5;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
  font-family: Palatino, "Times New Roman", Times, serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5em;
  color: #473f3f; }

body:after {
  content: '320';
  display: none; }
  @media (min-width: 30em) {
    body:after {
      content: 'bp2'; } }
  @media (min-width: 37.5em) {
    body:after {
      content: 'bp3'; } }
  @media (min-width: 48em) {
    body:after {
      content: 'bp4'; } }
  @media (min-width: 62em) {
    body:after {
      content: 'bp5'; } }
  @media (min-width: 86.375em) {
    body:after {
      content: 'bp6'; } }

.m-hide {
  display: none !important;
  visibility: hidden; }

[role="contentinfo"] {
  padding: 1.5em 12px;
  text-align: center; }

[role="banner"] {
  *zoom: 1; }
  [role="banner"]:before, [role="banner"]:after {
    content: " ";
    display: table; }
  [role="banner"]:after {
    clear: both; }

hr {
  clear: both;
  display: block;
  margin: 3em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #c6bfbf; }

img {
  max-width: 100%;
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

.img-rounded {
  border-radius: 4px; }

.img-polaroid {
  padding: 12px;
  background-color: white;
  border: 1px solid #c6bfbf;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }

.img-circle {
  border-radius: 500px; }

figure {
  margin-bottom: 1.5em; }
  figure img {
    margin-bottom: 0.375em; }
  figure figcaption {
    display: block;
    font-weight: normal;
    font-size: 14px;
    font-size: 1.4rem;
    font-style: italic;
    color: #030303; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal;
    line-height: 1;
    color: #8a7b7b; }

h1,
.h1 {
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 1.2;
  margin-bottom: 0.75em; }

h2,
.h2 {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.2;
  margin-bottom: 0.75em; }

h3,
.h3 {
  font-size: 20.8px;
  font-size: 2.08rem;
  line-height: 1.3;
  margin-bottom: 1em; }

h4,
.h4 {
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.25;
  margin-bottom: 1.5em; }

h5,
.h5 {
  font-size: 18.4px;
  font-size: 1.84rem;
  margin-bottom: 1.5em; }

h6,
.h6 {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 1.5em;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase; }

p,
ol,
ul,
dl,
address {
  margin-bottom: 1.5em;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5em; }

small {
  font-size: 12.8px;
  font-size: 1.28rem; }

ul,
ol {
  margin: 0 0 1.5em -24px;
  padding: 0 0 0 24px; }

li ul,
li ol {
  list-style-type: none;
  margin: 1.5em 0;
  font-size: 16px;
  font-size: 1.6rem; }

ul.inline,
ol.inline {
  list-style-type: none;
  margin-left: 0; }
  ul.inline > li,
  ol.inline > li {
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px; }

blockquote {
  margin: 0 0 1.5em 0;
  padding: 12px;
  background-color: #f6f5f5;
  font-style: normal; }
  blockquote small:before {
    content: '\00A0 \2014'; }
  blockquote small:after {
    content: ''; }
  blockquote.pull-right {
    float: right;
    background-color: transparent; }
    blockquote.pull-right p, blockquote.pull-right small {
      text-align: right; }
    blockquote.pull-right small:before {
      content: ''; }
    blockquote.pull-right small:after {
      content: '\00A0 \2014'; }
  blockquote cite {
    font-style: normal; }

q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

dl,
dd {
  margin-bottom: 1.5em; }

dt {
  font-weight: bold; }

.dl-horizontal {
  *zoom: 1; }
  .dl-horizontal:before, .dl-horizontal:after {
    content: " ";
    display: table; }
  .dl-horizontal:after {
    clear: both; }
  .dl-horizontal dt {
    float: left;
    clear: left;
    width: 30.38869258%; }
  .dl-horizontal dd {
    margin-left: 32.99289258%; }

abbr[title] {
  border-bottom: 1px dotted #c6bfbf;
  cursor: help; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

ins {
  background-color: #f6f5f5;
  color: #473f3f;
  text-decoration: none; }

mark {
  background-color: #f6f5f5;
  color: #473f3f;
  font-style: italic;
  font-weight: bold; }

pre,
code,
kbd,
samp {
  font-family: Monaco, Courier New, monospace;
  font-size: 12.8px;
  font-size: 1.28rem;
  line-height: 1.5em;
  color: #484040; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

sub,
sup {
  position: relative;
  font-size: 12.8px;
  font-size: 1.28rem;
  line-height: 0;
  vertical-align: baselineheight; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

.lead {
  font-size: 18.4px;
  font-size: 1.84rem; }

.secondary {
  font-size: 13.91304px;
  font-size: 1.3913rem; }

.tertiary {
  font-size: 12.8px;
  font-size: 1.28rem; }

.amp {
  font-family: local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua"); }

.footnotes li {
  margin-bottom: 0.75em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12.30769px;
  font-size: 1.23077rem;
  line-height: 1.4; }

/*footnotes*/
.spaced {
  letter-spacing: 1px; }

a {
  text-decoration: none;
  color: #929a00; }
  a:visited {
    color: #313400; }
  a:hover {
    text-decoration: underline;
    color: #626700; }
  a:focus {
    outline: thin dotted;
    color: #010100; }
  a:hover, a:active {
    outline: 0; }

::-moz-selection {
  background-color: #feffe6;
  color: #929a00;
  text-shadow: none; }

::selection {
  background-color: #feffe6;
  color: #929a00;
  text-shadow: none; }

.swatch {
  margin: 0 0 1.5em 0;
  padding: 0; }

.swatch-row {
  display: block;
  margin: 0;
  padding: 0;
  width: 200px;
  *zoom: 1; }
  .swatch-row:before, .swatch-row:after {
    content: " ";
    display: table; }
  .swatch-row:after {
    clear: both; }

.swatch-row-one {
  background-color: black; }

.swatch-row-two {
  background-color: white; }

.swatch-row span {
  display: block;
  float: left;
  width: 50px;
  height: 50px; }

.swatch-base span:nth-child(1) {
  background-color: rgba(146, 154, 0, 0.9); }

.swatch-base span:nth-child(2) {
  background-color: rgba(146, 154, 0, 0.8); }

.swatch-base span:nth-child(3) {
  background-color: rgba(146, 154, 0, 0.7); }

.swatch-base span:nth-child(4) {
  background-color: rgba(146, 154, 0, 0.6); }

.swatch-secondary span:nth-child(1) {
  background-color: rgba(164, 50, 21, 0.9); }

.swatch-secondary span:nth-child(2) {
  background-color: rgba(164, 50, 21, 0.8); }

.swatch-secondary span:nth-child(3) {
  background-color: rgba(164, 50, 21, 0.7); }

.swatch-secondary span:nth-child(4) {
  background-color: rgba(164, 50, 21, 0.6); }

.swatch-tertiary span:nth-child(1) {
  background-color: rgba(41, 47, 54, 0.9); }

.swatch-tertiary span:nth-child(2) {
  background-color: rgba(41, 47, 54, 0.8); }

.swatch-tertiary span:nth-child(3) {
  background-color: rgba(41, 47, 54, 0.7); }

.swatch-tertiary span:nth-child(4) {
  background-color: rgba(41, 47, 54, 0.6); }

.swatch-neutral span:nth-child(1) {
  background-color: rgba(71, 63, 63, 0.9); }

.swatch-neutral span:nth-child(2) {
  background-color: rgba(71, 63, 63, 0.8); }

.swatch-neutral span:nth-child(3) {
  background-color: rgba(71, 63, 63, 0.7); }

.swatch-neutral span:nth-child(4) {
  background-color: rgba(71, 63, 63, 0.6); }

.swatch-error span:nth-child(1) {
  background-color: rgba(176, 20, 0, 0.9); }

.swatch-error span:nth-child(2) {
  background-color: rgba(176, 20, 0, 0.8); }

.swatch-error span:nth-child(3) {
  background-color: rgba(176, 20, 0, 0.7); }

.swatch-error span:nth-child(4) {
  background-color: rgba(176, 20, 0, 0.6); }

.swatch-info span:nth-child(1) {
  background-color: rgba(216, 220, 162, 0.9); }

.swatch-info span:nth-child(2) {
  background-color: rgba(216, 220, 162, 0.8); }

.swatch-info span:nth-child(3) {
  background-color: rgba(216, 220, 162, 0.7); }

.swatch-info span:nth-child(4) {
  background-color: rgba(216, 220, 162, 0.6); }

.swatch-success span:nth-child(1) {
  background-color: rgba(188, 212, 222, 0.9); }

.swatch-success span:nth-child(2) {
  background-color: rgba(188, 212, 222, 0.8); }

.swatch-success span:nth-child(3) {
  background-color: rgba(188, 212, 222, 0.7); }

.swatch-success span:nth-child(4) {
  background-color: rgba(188, 212, 222, 0.6); }

.hero-unit {
  margin-bottom: 0.75em;
  padding: 24px;
  background-color: rgba(146, 154, 0, 0.1);
  border: 1px solid rgba(49, 52, 0, 0.1);
  border-radius: 4px;
  color: #473f3f;
  /*p*/ }
  @media (min-width: 48em) {
    .hero-unit {
      padding: 48px; }
      .hero-unit h1 {
        margin-bottom: 0.375em;
        font-size: 48px;
        font-size: 4.8rem;
        line-height: 1;
        letter-spacing: -1px; } }
  .hero-unit p {
    font-size: 20px;
    font-size: 2rem; }
    .hero-unit p:last-child {
      margin-bottom: 0; }

/*hero-unit*/
.navigation-toggle {
  float: right;
  display: block;
  padding: 0.75em 12px; }
  @media (min-width: 37.5em) {
    .navigation-toggle {
      display: none; } }

@media (min-width: 37.5em) {
  #nav-toggle {
    display: none; } }

nav[role=navigation] {
  clear: both;
  background-color: #292f36;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease; }

.js nav[role=navigation] {
  overflow: hidden;
  max-height: 0; }
  @media (min-width: 37.5em) {
    .js nav[role=navigation] {
      max-height: none; } }

nav[role=navigation].active {
  max-height: 25em; }

#navigation-toggle {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  @media (min-width: 37.5em) {
    #navigation-toggle {
      margin: 0 0 0 -0.25em;
      border-width: 0; }
      #navigation-toggle li {
        display: inline-block;
        margin: 0 12px 0 0; } }
  #navigation-toggle ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    @media (min-width: 37.5em) {
      #navigation-toggle ul {
        margin: 0 auto; } }
  #navigation-toggle a {
    display: block;
    padding: .8em;
    border-bottom: 1px solid #131619;
    color: white;
    text-transform: uppercase; }
    @media (min-width: 37.5em) {
      #navigation-toggle a {
        border-width: 0;
        font-size: 14px;
        font-size: 1.4rem;
        text-transform: none; } }
    #navigation-toggle a:hover {
      color: #e6e6e6;
      text-decoration: none; }

.l-panel {
  border-top: 1px solid #f3ff1b;
  border-bottom: 7px solid #473f3f; }
  .l-panel:first-child {
    border-top-width: 0;
    border-bottom-width: 0; }
  .l-panel:nth-child(2) {
    border-top-width: 0; }
  .l-panel:last-of-type {
    margin-bottom: 1.5em;
    border-bottom-width: 0; }

.l-trigger {
  padding: 1.5em 12px;
  background-color: #929a00;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(146, 154, 0, 0.6)), to(rgba(146, 154, 0, 0.9))), url(/img/tmp/l-trigger.png);
  background-image: -webkit-linear-gradient(top, rgba(146, 154, 0, 0.6), rgba(146, 154, 0, 0.9)), url(/img/tmp/l-trigger.png);
  background-image: -moz-linear-gradient(top, rgba(146, 154, 0, 0.6), rgba(146, 154, 0, 0.9)), url(/img/tmp/l-trigger.png);
  background-image: -ms-linear-gradient(top, rgba(146, 154, 0, 0.6), rgba(146, 154, 0, 0.9)), url(/img/tmp/l-trigger.png);
  background-image: -o-linear-gradient(top, rgba(146, 154, 0, 0.6), rgba(146, 154, 0, 0.9)), url(/img/tmp/l-trigger.png);
  background-position: 0 0, 50% 100%;
  background-repeat: repeat-x;
  border-bottom: 2px solid #7a8100;
  color: white; }
  .l-trigger:first-of-type {
    border-top-width: 0; }
  .l-trigger h1, .l-trigger p {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 0 10px #929a00; }
  .l-trigger h1 {
    font-size: 24px;
    font-size: 2.4rem;
    font-weight: normal;
    text-transform: uppercase; }
  .l-trigger p {
    margin-bottom: 0.75em; }
  .l-trigger p:last-child {
    margin-bottom: 0;
    font-size: 14px;
    font-size: 1.4rem;
    text-align: right; }
  .l-trigger a, .l-trigger a:visited {
    display: block;
    color: white; }
    .l-trigger a:hover, .l-trigger a:visited:hover {
      color: rgba(255, 255, 255, 0.9);
      text-decoration: none; }

.l-panel:nth-child(2) .l-trigger {
  background-color: #929a00;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(146, 154, 0, 0.6)), to(rgba(146, 154, 0, 0.9))), url(/img/tmp/l-trigger-first.png);
  background-image: -webkit-linear-gradient(top, rgba(146, 154, 0, 0.6), rgba(146, 154, 0, 0.9)), url(img/tmp/l-trigger-first.png);
  background-image: -moz-linear-gradient(top, rgba(146, 154, 0, 0.6), rgba(146, 154, 0, 0.9)), url(/img/tmp/l-trigger-first.png);
  background-image: -ms-linear-gradient(top, rgba(146, 154, 0, 0.6), rgba(146, 154, 0, 0.9)), url(/img/tmp/l-trigger-first.png);
  background-image: -o-linear-gradient(top, rgba(146, 154, 0, 0.6), rgba(146, 154, 0, 0.9)), url(/img/tmp/l-trigger-first.png);
  background-position: 0 0, 50% 0; }

.l-wrap {
  margin: 0 auto; }

.l-hidden.in {
  margin-bottom: 3em;
  padding: 3em 12px 0.75em 12px; }
.l-hidden .l-wrap {
  margin-bottom: 3em; }
  .l-hidden .l-wrap > h2 {
    text-transform: uppercase;
    font-size: 32px;
    font-size: 3.2rem;
    font-weight: normal;
    color: rgba(71, 63, 63, 0.5); }
.l-hidden .l-content {
  border-bottom: 1px solid #c6bfbf; }
.l-hidden:last-of-type {
  border-bottom-width: 0; }

.l-introduction {
  margin: 0;
  padding: 0;
  background-color: #f5f4e7;
  background-image: url(/img/tmp/l-introduction.png);
  background-position: 50% 100%;
  background-repeat: repeat-x; }
  .l-introduction .hero-unit {
    margin: 0;
    padding: 24px 0.75em 48px;
    background-color: transparent;
    border-width: 0; }
    .l-introduction .hero-unit .secondary {
      font-size: 14px;
      font-size: 1.4rem;
      text-align: center; }

#panel-images-hidden img {
  max-width: 120px;
  margin-right: 12px; }

#panel-typography-hidden:active {
  display: block !important; }

@media (min-width: 48em) {
  .samples .l-introduction {
    padding: 3em 0 6em 0; }
    .samples .l-introduction .hero-unit {
      margin: 0 auto;
      padding: 0;
      width: 90%;
      max-width: 768px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
  .samples nav[role=navigation] {
    width: 100%;
    background-color: #473f3f;
    color: white; }
    .samples nav[role=navigation] ul {
      margin: 0 auto;
      width: 90%;
      max-width: 768px; }
      .samples nav[role=navigation] ul a, .samples nav[role=navigation] ul a:visited {
        color: white; } }

@media (min-width: 48em) {
  .hidden hr {
    margin: 0 auto;
    width: 90%;
    max-width: 768px; } }

@media (min-width: 48em) {
  .l-wrap {
    *zoom: 1;
    width: 90%;
    max-width: 768px; }
    .l-wrap:before, .l-wrap:after {
      content: " ";
      display: table; }
    .l-wrap:after {
      clear: both; } }

@media (min-width: 48em) {
  .l-summary {
    float: left;
    margin-right: -100%;
    width: 38.4375%;
    padding-right: 24px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; } }

@media (min-width: 48em) {
  #panel-typography .l-trigger .l-summary,
  #panel-colour .l-trigger .l-summary,
  #panel-images .l-trigger .l-summary,
  #panel-navigation .l-trigger .l-summary,
  #panel-modules .l-trigger .l-summary,
  #panel-forms .l-trigger .l-summary,
  #panel-tables .l-trigger .l-summary,
  #panel-widgets .l-trigger .l-summary {
    min-height: 40px;
    background-image: url(/img/tmp/l-trigger-icons.png);
    background-repeat: no-repeat; } }

@media (min-width: 48em) {
  #panel-typography .l-trigger .l-summary {
    background-position: 95% 0; } }

@media (min-width: 48em) {
  #panel-colour .l-trigger .l-summary {
    background-position: 95% -300px; } }

@media (min-width: 48em) {
  #panel-images .l-trigger .l-summary {
    background-position: 95% -600px; } }

@media (min-width: 48em) {
  #panel-navigation .l-trigger .l-summary {
    background-position: 95% -100px; } }

@media (min-width: 48em) {
  #panel-modules .l-trigger .l-summary {
    background-position: 95% -700px; } }

@media (min-width: 48em) {
  #panel-forms .l-trigger .l-summary {
    background-position: 95% -400px; } }

@media (min-width: 48em) {
  #panel-tables .l-trigger .l-summary {
    background-position: 95% -500px; } }

@media (min-width: 48em) {
  #panel-widgets .l-trigger .l-summary {
    background-position: 95% -800px; } }

@media (min-width: 48em) {
  .l-content {
    clear: right;
    float: left;
    margin-left: 41.0417%;
    margin-right: -100%;
    width: 58.9583%; } }

@media (min-width: 48em) {
  [role="contentinfo"] small {
    display: block; } }

@media (min-width: 48em) {
  .m-hide {
    display: inline-block !important;
    visibility: visible; } }

@media (min-width: 48em) {
  .t-hide {
    display: none !important;
    visibility: hidden; } }

@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  @page {
    margin: 0.5cm; }

  h2, h3 {
    orphans: 3;
    widows: 3;
    page-break-after: avoid; }

  p {
    orphans: 3;
    widows: 3; }

  pre, blockquote {
    border: 1px solid #666;
    page-break-inside: avoid; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  img {
    max-width: 100% !important;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr {
    page-break-inside: avoid; } }

